<footer class="footer page-footer font-small mdb-color darken-3 pt-4">
  <!-- Footer Elements -->
  <div class="container">

      <!--Grid row-->
      <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-md-6">

          <!-- Video -->


        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <a href="" class="text-white">Thanks for the opportunity</a>
    </div>
    <!-- Copyright -->
  </footer>
